extends layout

block content
  a(href='/post/new') New Post
  
  ul
    each post in posts
      li
        a(href=`/post/${post._id}`)
          h3= post.title
          p= post.createdAt
          p= post.content
